h1{
  text-align: center;
  color: tomato;
}

h2{
    font-weight: normal;
    font-size: 13pt;
    color: grey;
}
h4{
	text-align: center;
	color: blue;
	text-decoration: underline;
	font-size: 25px;
	
}
img{
    display: block;
	margin-left: auto;
	margin-right: auto;
 

    
}
h3{
    text-align:center;
	
}

#backhome{
	text-align: center;
    margin-left: auto;
    margin-right:auto;
}
#Scratch{
	text-align: left;
	border: 3px solid gray;
	width: 50%;
	padding: 5px;
	display: block;
  margin-left: auto;
  margin-right: auto;
  
}

	


a:hover, a:active {
    background-color: grey;
}
#links{
	text-align: center;
    margin-left: auto;
    margin-right:auto;
}
.button{
    text-align: center;
    font-weight: bold;
    background-color: black;
    color: white;
    padding: 14px 25px;
    text-decoration: none;
    display: inline-block;
}
